html {
    font-family: 'Passion One', cursive;
}

header > .container {
    width: 100%;
    display: table;
}

header > .container > h1 {
    display: table-cell;
    vertical-align: middle;
}

.row > .box > h2:nth-child(2) {
    animation: scoresAnimation 1s linear;
}
.row > h2:nth-child(2) {
    animation: winnerAnimation 2s linear;
}

@keyframes scoresAnimation {
    25% {
        transform: rotate(360deg);
    }
}

@keyframes winnerAnimation {
    0% {
        color: transparent;
    }

    25% {
        
    }

    50% {
        color: rgb(153, 51, 255);
        font-size: 50px;
    }

    62.5% {
        font-size: 53px;
    }

    75% {
        font-size: 50px;
    }

    87.5% {
        font-size: 53px;
    }

    100% {
        font-size: 50px;
    }

}